.profile-picture{
  height: 100px;
  width: 100px;
  margin: 10px;
  align-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.radio{
  display: flex;
  flex-direction: row;
  margin: auto;
}
.general{
  display: flex;
  flex-direction: column;
  padding-inline-start: 15px;
}
.subradio{
  padding-right: 5%;
}